In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('kapal_titanic.csv')
data

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

In [11]:
dataUmur = data['age']
print(dataUmur.head(), type(dataUmur))

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
Name: age, dtype: float64 <class 'pandas.core.series.Series'>

In [12]:
data[['age', 'fare']]

      age     fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

# Apa itu "Dot Notation"?

In [15]:
data.age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: age, Length: 891, dtype: float64

In [16]:
data.age.equals(data['age'])

True

In [19]:
data[['age']]

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

# iloc

## .iloc[baris, kolom]

In [21]:
data.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [29]:
data.iloc[:, 3:4]

      age
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
..    ...
886  27.0
887  19.0
888   NaN
889  26.0
890  32.0

[891 rows x 1 columns]

In [32]:
data.iloc[-1:-10:-1]

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
890         0       3    male  32.0      0      0   7.7500        Q  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
888         0       3  female   NaN      1      2  23.4500        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
886         0       2    male  27.0      0      0  13.0000        S  NaN
885         0       3  female  39.0      0      5  29.1250        Q  NaN
884         0       3    male  25.0      0      0   7.0500        S  NaN
883         0       2    male  28.0      0      0  10.5000        S  NaN
882         0       3  female  22.0      0      0  10.5167        S  NaN

In [40]:
data.iloc[0:7, [1, 3, 6]]

   pclass   age     fare
0       3  22.0   7.2500
1       1  38.0  71.2833
2       3  26.0   7.9250
3       1  35.0  53.1000
4       3  35.0   8.0500
5       3   NaN   8.4583
6       1  54.0  51.8625

# loc

### .loc['nama baris', 'nama kolom']

In [43]:
data_baru = pd.read_csv('kapal_titanic.csv', index_col="embarked")

In [48]:
data_baru

          survived  pclass     sex   age  sibsp  parch     fare deck
embarked
S                0       3    male  22.0      1      0   7.2500  NaN
C                1       1  female  38.0      1      0  71.2833    C
S                1       3  female  26.0      0      0   7.9250  NaN
S                1       1  female  35.0      1      0  53.1000    C
S                0       3    male  35.0      0      0   8.0500  NaN
...            ...     ...     ...   ...    ...    ...      ...  ...
S                0       2    male  27.0      0      0  13.0000  NaN
S                1       1  female  19.0      0      0  30.0000    B
S                0       3  female   NaN      1      2  23.4500  NaN
C                1       1    male  26.0      0      0  30.0000    C
Q                0       3    male  32.0      0      0   7.7500  NaN

[891 rows x 8 columns]

In [54]:
data_baru.loc[['S', 'Q'], ['age', 'fare']]

           age     fare
embarked
S         22.0   7.2500
S         26.0   7.9250
S         35.0  53.1000
S         35.0   8.0500
S         54.0  51.8625
...        ...      ...
Q          NaN   7.7500
Q          NaN   6.9500
Q          NaN   7.7500
Q         39.0  29.1250
Q         32.0   7.7500

[721 rows x 2 columns]

In [55]:
pd.options.display.min_rows = 891
pd.options.display.max_rows = 891

In [56]:
data_baru

          survived  pclass     sex    age  sibsp  parch      fare deck
embarked
S                0       3    male  22.00      1      0    7.2500  NaN
C                1       1  female  38.00      1      0   71.2833    C
S                1       3  female  26.00      0      0    7.9250  NaN
S                1       1  female  35.00      1      0   53.1000    C
S                0       3    male  35.00      0      0    8.0500  NaN
Q                0       3    male    NaN      0      0    8.4583  NaN
S                0       1    male  54.00      0      0   51.8625    E
S                0       3    male   2.00      3      1   21.0750  NaN
S                1       3  female  27.00      0      2   11.1333  NaN
C                1       2  female  14.00      1      0   30.0708  NaN
S                1       3  female   4.00      1      1   16.7000    G
S                1       1  female  58.00      0      0   26.5500    C
S                0       3    male  20.00      0      0    8.0500  NaN
S                0       3    male  39.00      1      5   31.2750  NaN
S                0       3  female  14.00      0      0    7.8542  NaN
S                1       2  female  55.00      0      0   16.0000  NaN
Q                0       3    male   2.00      4      1   29.1250  NaN
S                1       2    male    NaN      0      0   13.0000  NaN
S                0       3  female  31.00      1      0   18.0000  NaN
C                1       3  female    NaN      0      0    7.2250  NaN
S                0       2    male  35.00      0      0   26.0000  NaN
S                1       2    male  34.00      0      0   13.0000    D
Q                1       3  female  15.00      0      0    8.0292  NaN
S                1       1    male  28.00      0      0   35.5000    A
S                0       3  female   8.00      3      1   21.0750  NaN
S                1       3  female  38.00      1      5   31.3875  NaN
C                0       3    male    NaN      0      0    7.2250  NaN
S                0       1    male  19.00      3      2  263.0000    C
Q                1       3  female    NaN      0      0    7.8792  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
C                0       1    male  40.00      0      0   27.7208  NaN
C                1       1  female    NaN      1      0  146.5208    B
Q                1       3  female    NaN      0      0    7.7500  NaN
S                0       2    male  66.00      0      0   10.5000  NaN
C                0       1    male  28.00      1      0   82.1708  NaN
S                0       1    male  42.00      1      0   52.0000  NaN
C                1       3    male    NaN      0      0    7.2292  NaN
S                0       3    male  21.00      0      0    8.0500  NaN
S                0       3  female  18.00      2      0   18.0000  NaN
C                1       3  female  14.00      1      0   11.2417  NaN
S                0       3  female  40.00      1      0    9.4750  NaN
S                0       2  female  27.00      1      0   21.0000  NaN
C                0       3    male    NaN      0      0    7.8958  NaN
C                1       2  female   3.00      1      2   41.5792  NaN
Q                1       3  female  19.00      0      0    7.8792  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
Q                0       3    male    NaN      1      0   15.5000  NaN
Q                1       3  female    NaN      0      0    7.7500  NaN
C                0       3    male    NaN      2      0   21.6792  NaN
S                0       3  female  18.00      1      0   17.8000  NaN
S                0       3    male   7.00      4      1   39.6875  NaN
S                0       3    male  21.00      0      0    7.8000  NaN
C                1       1  female  49.00      1      0   76.7292    D
S                1       2  female  29.00      1      0   26.0000  NaN
C                0       1    male  65.00      0      1   61.9792    B
S                1       1    male    NaN      0      0   35.5000    C
S                1       2  female  21.00      0      0   10.5000  NaN
C                0       3    male  28.50      0      0    7.2292  NaN
S                1       2  female   5.00      1      2   27.7500  NaN
S                0       3    male  11.00      5      2   46.9000  NaN
C                0       3    male  22.00      0      0    7.2292  NaN
NaN              1       1  female  38.00      0      0   80.0000    B
S                0       1    male  45.00      1      0   83.4750    C
S                0       3    male   4.00      3      2   27.9000  NaN
C                0       1    male    NaN      0      0   27.7208  NaN
C                1       3    male    NaN      1      1   15.2458  NaN
S                1       2  female  29.00      0      0   10.5000    F
S                0       3    male  19.00      0      0    8.1583  NaN
S                1       3  female  17.00      4      2    7.9250  NaN
S                0       3    male  26.00      2      0    8.6625  NaN
S                0       2    male  32.00      0      0   10.5000  NaN
S                0       3  female  16.00      5      2   46.9000  NaN
S                0       2    male  21.00      0      0   73.5000  NaN
C                0       3    male  26.00      1      0   14.4542  NaN
S                1       3    male  32.00      0      0   56.4958  NaN
S                0       3    male  25.00      0      0    7.6500    F
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       2    male   0.83      0      2   29.0000  NaN
S                1       3  female  30.00      0      0   12.4750  NaN
S                0       3    male  22.00      0      0    9.0000  NaN
S                1       3    male  29.00      0      0    9.5000  NaN
Q                1       3  female    NaN      0      0    7.7875  NaN
S                0       1    male  28.00      0      0   47.1000  NaN
S                1       2  female  17.00      0      0   10.5000  NaN
S                1       3  female  33.00      3      0   15.8500  NaN
S                0       3    male  16.00      1      3   34.3750  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
S                1       1  female  23.00      3      2  263.0000    C
S                0       3    male  24.00      0      0    8.0500  NaN
S                0       3    male  29.00      0      0    8.0500  NaN
S                0       3    male  20.00      0      0    7.8542  NaN
S                0       1    male  46.00      1      0   61.1750    E
S                0       3    male  26.00      1      2   20.5750  NaN
S                0       3    male  59.00      0      0    7.2500  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
C                0       1    male  71.00      0      0   34.6542    A
C                1       1    male  23.00      0      1   63.3583    D
S                1       2  female  34.00      0      1   23.0000  NaN
S                0       2    male  34.00      1      0   26.0000  NaN
S                0       3  female  28.00      0      0    7.8958  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                0       1    male  21.00      0      1   77.2875    D
S                0       3    male  33.00      0      0    8.6542  NaN
S                0       3    male  37.00      2      0    7.9250  NaN
S                0       3    male  28.00      0      0    7.8958  NaN
S                1       3  female  21.00      0      0    7.6500  NaN
S                1       3    male    NaN      0      0    7.7750  NaN
S                0       3    male  38.00      0      0    7.8958  NaN
Q                1       3  female    NaN      1      0   24.1500  NaN
S                0       1    male  47.00      0      0   52.0000    C
C                0       3  female  14.50      1      0   14.4542  NaN
S                0       3    male  22.00      0      0    8.0500  NaN
S                0       3  female  20.00      1      0    9.8250  NaN
C                0       3  female  17.00      0      0   14.4583  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
Q                0       3    male  70.50      0      0    7.7500  NaN
S                0       2    male  29.00      1      0   21.0000  NaN
C                0       1    male  24.00      0      1  247.5208    B
S                0       3  female   2.00      4      2   31.2750  NaN
S                0       2    male  21.00      2      0   73.5000  NaN
S                0       3    male    NaN      0      0    8.0500  NaN
C                0       2    male  32.50      1      0   30.0708  NaN
S                1       2  female  32.50      0      0   13.0000    E
S                0       1    male  54.00      0      1   77.2875    D
C                1       3    male  12.00      1      0   11.2417  NaN
Q                0       3    male    NaN      0      0    7.7500  NaN
S                1       3    male  24.00      0      0    7.1417  NaN
C                1       3  female    NaN      1      1   22.3583    F
S                0       3    male  45.00      0      0    6.9750  NaN
C                0       3    male  33.00      0      0    7.8958  NaN
S                0       3    male  20.00      0      0    7.0500  NaN
S                0       3  female  47.00      1      0   14.5000  NaN
S                1       2  female  29.00      1      0   26.0000  NaN
S                0       2    male  25.00      0      0   13.0000  NaN
C                0       2    male  23.00      0      0   15.0458  NaN
S                1       1  female  19.00      0      2   26.2833    D
S                0       1    male  37.00      1      0   53.1000    C
S                0       3    male  16.00      0      0    9.2167  NaN
C                0       1    male  24.00      0      0   79.2000    B
C                0       3  female    NaN      0      2   15.2458  NaN
S                1       3  female  22.00      0      0    7.7500  NaN
S                1       3  female  24.00      1      0   15.8500  NaN
Q                0       3    male  19.00      0      0    6.7500  NaN
S                0       2    male  18.00      0      0   11.5000  NaN
S                0       2    male  19.00      1      1   36.7500  NaN
S                1       3    male  27.00      0      0    7.7958  NaN
S                0       3  female   9.00      2      2   34.3750  NaN
S                0       2    male  36.50      0      2   26.0000    F
S                0       2    male  42.00      0      0   13.0000  NaN
S                0       2    male  51.00      0      0   12.5250  NaN
S                1       1  female  22.00      1      0   66.6000    C
S                0       3    male  55.50      0      0    8.0500  NaN
S                0       3    male  40.50      0      2   14.5000  NaN
S                0       3    male    NaN      0      0    7.3125  NaN
C                0       1    male  51.00      0      1   61.3792  NaN
Q                1       3  female  16.00      0      0    7.7333  NaN
S                0       3    male  30.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    8.6625  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  44.00      0      1   16.1000  NaN
S                1       2  female  40.00      0      0   15.7500  NaN
S                0       3    male  26.00      0      0    7.7750  NaN
S                0       3    male  17.00      0      0    8.6625  NaN
S                0       3    male   1.00      4      1   39.6875  NaN
S                1       3    male   9.00      0      2   20.5250  NaN
S                1       1  female    NaN      0      1   55.0000    E
S                0       3  female  45.00      1      4   27.9000  NaN
S                0       1    male    NaN      0      0   25.9250  NaN
S                0       3    male  28.00      0      0   56.4958  NaN
S                0       1    male  61.00      0      0   33.5000    B
Q                0       3    male   4.00      4      1   29.1250  NaN
S                1       3  female   1.00      1      1   11.1333  NaN
S                0       3    male  21.00      0      0    7.9250  NaN
C                0       1    male  56.00      0      0   30.6958    A
S                0       3    male  18.00      1      1    7.8542  NaN
S                0       3    male    NaN      3      1   25.4667  NaN
C                0       1  female  50.00      0      0   28.7125    C
S                0       2    male  30.00      0      0   13.0000  NaN
S                0       3    male  36.00      0      0    0.0000  NaN
S                0       3  female    NaN      8      2   69.5500  NaN
C                0       2    male    NaN      0      0   15.0500  NaN
S                0       3    male   9.00      4      2   31.3875  NaN
S                1       2    male   1.00      2      1   39.0000    F
S                1       3  female   4.00      0      2   22.0250  NaN
S                0       1    male    NaN      0      0   50.0000    A
Q                1       3  female    NaN      1      0   15.5000  NaN
S                1       1    male  45.00      0      0   26.5500  NaN
Q                0       3    male  40.00      1      1   15.5000  NaN
S                0       3    male  36.00      0      0    7.8958  NaN
S                1       2  female  32.00      0      0   13.0000  NaN
S                0       2    male  19.00      0      0   13.0000  NaN
S                1       3  female  19.00      1      0    7.8542  NaN
S                1       2    male   3.00      1      1   26.0000    F
C                1       1  female  44.00      0      0   27.7208    B
C                1       1  female  58.00      0      0  146.5208    B
Q                0       3    male    NaN      0      0    7.7500  NaN
S                0       3    male  42.00      0      1    8.4042  NaN
Q                1       3  female    NaN      0      0    7.7500  NaN
S                0       2  female  24.00      0      0   13.0000  NaN
S                0       3    male  28.00      0      0    9.5000  NaN
S                0       3    male    NaN      8      2   69.5500  NaN
S                0       3    male  34.00      0      0    6.4958  NaN
C                0       3    male  45.50      0      0    7.2250  NaN
S                1       3    male  18.00      0      0    8.0500  NaN
S                0       3  female   2.00      0      1   10.4625    G
S                0       3    male  32.00      1      0   15.8500  NaN
C                1       3    male  26.00      0      0   18.7875  NaN
Q                1       3  female  16.00      0      0    7.7500  NaN
C                1       1    male  40.00      0      0   31.0000    A
S                0       3    male  24.00      0      0    7.0500  NaN
S                1       2  female  35.00      0      0   21.0000  NaN
S                0       3    male  22.00      0      0    7.2500  NaN
S                0       2    male  30.00      0      0   13.0000  NaN
Q                0       3    male    NaN      1      0    7.7500  NaN
C                1       1  female  31.00      1      0  113.2750    D
S                1       3  female  27.00      0      0    7.9250  NaN
S                0       2    male  42.00      1      0   27.0000  NaN
C                1       1  female  32.00      0      0   76.2917    D
S                0       2    male  30.00      0      0   10.5000  NaN
S                1       3    male  16.00      0      0    8.0500  NaN
S                0       2    male  27.00      0      0   13.0000  NaN
S                0       3    male  51.00      0      0    8.0500  NaN
S                0       3    male    NaN      0      0    7.8958  NaN
S                1       1    male  38.00      1      0   90.0000    C
S                0       3    male  22.00      0      0    9.3500  NaN
S                1       2    male  19.00      0      0   10.5000  NaN
S                0       3    male  20.50      0      0    7.2500  NaN
S                0       2    male  18.00      0      0   13.0000  NaN
S                0       3  female    NaN      3      1   25.4667  NaN
S                1       1  female  35.00      1      0   83.4750    C
S                0       3    male  29.00      0      0    7.7750  NaN
S                0       2    male  59.00      0      0   13.5000  NaN
S                1       3  female   5.00      4      2   31.3875  NaN
S                0       2    male  24.00      0      0   10.5000  NaN
S                0       3  female    NaN      0      0    7.5500  NaN
S                0       2    male  44.00      1      0   26.0000  NaN
S                1       2  female   8.00      0      2   26.2500  NaN
S                0       2    male  19.00      0      0   10.5000  NaN
S                0       2    male  33.00      0      0   12.2750  NaN
C                0       3  female    NaN      1      0   14.4542  NaN
Q                1       3  female    NaN      1      0   15.5000  NaN
S                0       2    male  29.00      0      0   10.5000  NaN
S                0       3    male  22.00      0      0    7.1250  NaN
C                0       3    male  30.00      0      0    7.2250  NaN
Q                0       1    male  44.00      2      0   90.0000    C
S                0       3  female  25.00      0      0    7.7750  NaN
S                1       2  female  24.00      0      2   14.5000  NaN
S                1       1    male  37.00      1      1   52.5542    D
S                0       2    male  54.00      1      0   26.0000  NaN
S                0       3    male    NaN      0      0    7.2500  NaN
S                0       3  female  29.00      1      1   10.4625    G
S                0       1    male  62.00      0      0   26.5500    C
S                0       3    male  30.00      1      0   16.1000  NaN
S                0       3  female  41.00      0      2   20.2125  NaN
C                1       3  female  29.00      0      2   15.2458  NaN
C                1       1  female    NaN      0      0   79.2000  NaN
S                1       1  female  30.00      0      0   86.5000    B
C                1       1  female  35.00      0      0  512.3292  NaN
S                1       2  female  50.00      0      1   26.0000  NaN
Q                0       3    male    NaN      0      0    7.7500  NaN
S                1       3    male   3.00      4      2   31.3875  NaN
S                0       1    male  52.00      1      1   79.6500    E
S                0       1    male  40.00      0      0    0.0000    B
Q                0       3  female    NaN      0      0    7.7500  NaN
S                0       2    male  36.00      0      0   10.5000  NaN
S                0       3    male  16.00      4      1   39.6875  NaN
S                1       3    male  25.00      1      0    7.7750  NaN
S                1       1  female  58.00      0      1  153.4625    C
S                1       1  female  35.00      0      0  135.6333    C
S                0       1    male    NaN      0      0   31.0000  NaN
S                1       3    male  25.00      0      0    0.0000  NaN
S                1       2  female  41.00      0      1   19.5000  NaN
C                0       1    male  37.00      0      1   29.7000    C
Q                1       3  female    NaN      0      0    7.7500  NaN
S                1       1  female  63.00      1      0   77.9583    D
S                0       3  female  45.00      0      0    7.7500  NaN
S                0       2    male    NaN      0      0    0.0000  NaN
Q                0       3    male   7.00      4      1   29.1250  NaN
S                1       3  female  35.00      1      1   20.2500  NaN

In [ ]:
S