In [1]:
import numpy as np
import pandas as pd

In [3]:
label = ["satu", "dua", "tiga"]

In [4]:
angka = [10, 20, 30]

In [5]:
np_angka = np.array(angka)
np_angka

array([10, 20, 30])

In [6]:
dictA = {
    "satu" : 10,
    "dua" : 20,
    "tiga" : 30
}

In [10]:
dataBaru = pd.Series(data=angka, index=label)

In [16]:
dataBaru

satu    10
dua     20
tiga    30
dtype: int64

In [13]:
dataBaru['satu']

10

In [14]:
np_angka[0]

10

In [15]:
pd.Series(dictA)

satu    10
dua     20
tiga    30
dtype: int64

In [18]:
pd.Series(angka)

0    10
1    20
2    30
dtype: int64

In [20]:
dataBaru = dataBaru.to_frame()

In [21]:
dataBaru

       0
satu  10
dua   20
tiga  30

In [22]:
dictB = {
    'satu' : 10,
    'dua' : 20,
    'tiga' : 30,
    'empat' : 40,
    'lima' : 50
}

In [23]:
dataBaru = pd.Series(dictA)

In [24]:
dataBaru

satu    10
dua     20
tiga    30
dtype: int64

In [26]:
dataBaru2 = pd.Series(dictB)

In [27]:
dataBaru2

satu     10
dua      20
tiga     30
empat    40
lima     50
dtype: int64

In [28]:
dataBaru + dataBaru2

dua      40.0
empat     NaN
lima      NaN
satu     20.0
tiga     60.0
dtype: float64