In [1]:
import pandas as pd

In [5]:
bapak = pd.DataFrame({
    "A" : ["A0", "B0"],
    "B" : ["A1", "B1"]
}, index=["K0", "K1"])

ibu = pd.DataFrame({
    "C" : ["C0", "D0"],
    "D" : ["C1", "D1"]
}, index=["K0", "K2"])

In [7]:
bapak

     A   B
K0  A0  A1
K1  B0  B1

In [8]:
ibu

     C   D
K0  C0  C1
K2  D0  D1

In [6]:
bapak.join(ibu)

     A   B    C    D
K0  A0  A1   C0   C1
K1  B0  B1  NaN  NaN

In [9]:
bapak.join(ibu, how='inner')

     A   B   C   D
K0  A0  A1  C0  C1

In [10]:
bapak.join(ibu, how='outer')

      A    B    C    D
K0   A0   A1   C0   C1
K1   B0   B1  NaN  NaN
K2  NaN  NaN   D0   D1